In [40]:
import pandas as pd #usamos la libreria de pandas para tratar los datos
from sqlalchemy import create_engine

In [41]:
df3=pd.read_csv('biblioteca_popular.csv')
engine= create_engine('postgresql://postgres:123456@localhost/proyecto_alkemy')

In [42]:
df3 = df3.rename(columns={'Cod_Loc':'Cod_localidad','CP':'Codigo_postal'})

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod_localidad          2017 non-null   int64
 1   IdProvincia            2017 non-null   int64
 2   IdDepartamento         2017 non-null   int64
 3   Observacion            0 non-null      float64
 4   Categoría              2017 non-null   object
 5   Subcategoria           0 non-null      float64
 6   Provincia              2017 non-null   object
 7   Departamento           2017 non-null   object
 8   Localidad              2017 non-null   object
 9   Nombre                 2017 non-null   object
 10  Domicilio              2017 non-null   object
 11  Piso                   0 non-null      float64
 12  Codigo_postal          2017 non-null   object
 13  Cod_tel                2017 non-null   object
 14  Teléfono               2017 non-null   object
 15  Mail                   2017 non-null   object
 16  Web                    0 non-null      float64
 17  Información adicional  0 non-null      float64
 18  Latitud                2017 non-null   float64
 19  Longitud               2017 non-null   float64
 20  TipoLatitudLongitud    2017 non-null   object
 21  Fuente                 2017 non-null   object
 22  Tipo_gestion           2017 non-null   object
 23  año_inicio             2010 non-null   float64
 24  Año_actualizacion      2017 non-null   int64
dtypes: float64(8), int64(4), object(13)
memory usage: 394.1+ KB

In [43]:
df3.drop(df3.columns[[3,5,7,11,13,17,18,19,20,21,22,23,24]], axis=1, inplace=True)
#cod_localidad 
#id_provincia 
#id_departamento 
#categoría 
#provincia 
#localidad 
#nombre 
#domicilio 
#código postal 
#número de teléfono 
#mail 
#web
#df3['Web'] = df3['Web'].astype('object')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Cod_localidad   2017 non-null   int64
 1   IdProvincia     2017 non-null   int64
 2   IdDepartamento  2017 non-null   int64
 3   Categoría       2017 non-null   object
 4   Provincia       2017 non-null   object
 5   Localidad       2017 non-null   object
 6   Nombre          2017 non-null   object
 7   Domicilio       2017 non-null   object
 8   Codigo_postal   2017 non-null   object
 9   Teléfono        2017 non-null   object
 10  Mail            2017 non-null   object
 11  Web             0 non-null      object
dtypes: int64(3), object(9)
memory usage: 189.2+ KB

In [44]:
df3.head()

,Cod_localidad,IdProvincia,IdDepartamento,Categoría,Provincia,Localidad,Nombre,Domicilio,Codigo_postal,Teléfono,Mail,Web
0,70049060,70,70049,Bibliotecas Populares,San Juan,Rodeo,Biblioteca Popular Juan P. Garramuno,Santo Domingo,5465,s/d,s/d,NaN
1,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Helena Larroque de Roffo,Simbrón 3058,C1417EUD,45010078,asociacionroffo@yahoo.com.ar,NaN
2,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular 12 de Octubre,Calle Arengreen 1187,C1405CYM,49880766,popular12deoctubre@hotmail.com,NaN
3,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Villa Pueyrredón Norte,Cockrane 2334,C1419FMD,45729107,bibliotecapueyrredon@hotmail.com,NaN
4,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Alberdi,Acevedo 666,C1414DJN,47753325,bibliotecapopularalberdi@yahoo.com.ar,NaN

In [46]:
df3.to_csv('biblioteca_tratado.csv',index=False)