In [340]:
import pandas as pd #usamos la libreria de pandas para tratar los datos
import numpy as np

In [341]:
df=pd.read_csv('cine.csv')

In [363]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod_Loc                329 non-null    int64
 1   IdProvincia            329 non-null    int64
 2   IdDepartamento         329 non-null    int64
 3   Observaciones          0 non-null      float64
 4   Categoría              329 non-null    object
 5   Provincia              329 non-null    object
 6   Departamento           329 non-null    object
 7   Localidad              329 non-null    object
 8   Nombre                 329 non-null    object
 9   Dirección              329 non-null    object
 10  Piso                   329 non-null    object
 11  CP                     329 non-null    int64
 12  cod_area               329 non-null    object
 13  Teléfono               329 non-null    object
 14  Mail                   329 non-null    object
 15  Web                    329 non-null    object
 16  Información adicional  0 non-null      float64
 17  Latitud                329 non-null    float64
 18  Longitud               329 non-null    float64
 19  TipoLatitudLongitud    329 non-null    object
 20  Fuente                 329 non-null    object
 21  tipo_gestion           329 non-null    object
 22  Pantallas              329 non-null    int64
 23  Butacas                329 non-null    int64
 24  espacio_INCAA          329 non-null    int32
 25  año_actualizacion      329 non-null    int64
dtypes: float64(4), int32(1), int64(7), object(14)
memory usage: 65.7+ KB

,Cod_Loc,IdProvincia,IdDepartamento,Observaciones,Categoría,Provincia,Departamento,Localidad,Nombre,Dirección,...,Información adicional,Latitud,Longitud,TipoLatitudLongitud,Fuente,tipo_gestion,Pantallas,Butacas,espacio_INCAA,año_actualizacion
0,10049030,10,10049,NaN,Salas de cine,Catamarca,Capital,Catamarca,Cinemacenter,Intendente Mamerto Medina 220,...,NaN,-28.464737,-65.800675,Localización precisa,INCAA / SInCA,Privado comercial,5,743,0,2018
1,10091150,10,10091,NaN,Salas de cine,Catamarca,Santa Maria,Santa María,Centro Cultural San Agustín,San Martin 173,...,NaN,-26.693859,-66.049058,Localización precisa,INCAA / SInCA,Privado comercial,1,440,0,2018
2,22140060,22,22140,NaN,Salas de cine,Chaco,San Fernando,Resistencia,Los Cines De La Costa,Av. Sarmiento 2600,...,NaN,-27.430995,-58.962672,Localización precisa,INCAA / SInCA,Privado comercial,5,820,0,2018
3,26091020,26,26091,NaN,Salas de cine,Chubut,Sarmiento,Sarmiento,Deborah Jones De Williams,Reg. Inf. Mec. 25 Esquina 20 De Junio,...,NaN,-45.594374,-69.069594,Localización precisa,INCAA / SInCA,Público municipal,1,80,0,2018
4,18007010,18,18007,NaN,Salas de cine,Corrientes,Bella Vista,Bella Vista,Fantasio,Salta 1059,...,NaN,-28.508494,-59.045464,Localización precisa,INCAA / SInCA,Privado comercial,1,240,0,2018

In [369]:
df['espacio_INCAA']=df['espacio_INCAA'].replace([np.nan], 0) # para poder tratar los espacio, reemplacé los nulos por 0
df['espacio_INCAA']=df['espacio_INCAA'].replace(['si'], 1) #los que eran si, tome como 1 haciendo referencia a que existe el espacio y se toma como cantidad 1
df['espacio_INCAA']=df['espacio_INCAA'].replace(['SI'], 1) # observé que hay "si" en mayúscula, por lo tanto lo tomé tambien como 1 dando a entender que existe

df['espacio_INCAA'] = df['espacio_INCAA'].astype(int)  # transformé la columna a entero para poder tratarlo matématicamente

Total=df.groupby(['Provincia'])[['Pantallas','Butacas', 'espacio_INCAA']].apply(sum) #los agrupé por provincia, entendiendo que pide la cantidad total por cada provincia y los acumulé en las 3 columnas solicitadas

Total=Total.reset_index() # transforme el indice de mi provincia en una columna
Total = Total.rename(columns={'Pantallas':'Cantidad pantallas','Butacas':'Cantidad butacas', 'espacio_INCAA': 'Cantidad espacio INCAA'}) #modifiqué los nombre de mis columnas para tener una mejor comprensión de los resultados
Total

,Provincia,Cantidad pantallas,Cantidad butacas,Cantidad espacio INCAA
0,Buenos Aires,358,93112,20
1,Catamarca,12,3200,1
2,Chaco,14,2469,1
3,Chubut,10,2682,4
4,Ciudad Autónoma de Buenos Aires,153,31386,3
5,Corrientes,17,3370,1
6,Córdoba,105,20799,2
7,Entre Ríos,17,4086,2
8,Formosa,4,1184,1
9,Jujuy,5,2277,2
10,La Pampa,6,2071,2
11,La Rioja,10,1477,1
12,Mendoza,47,11116,2
13,Misiones,10,2177,2
14,Neuquén,12,3959,3
15,Río Negro,10,2474,4
16,Salta,23,4665,2
17,San Juan,22,4617,2
18,San Luis,12,2601,0
19,Santa Cruz,7,1256,2
20,Santa Fe,79,20131,3
21,Santiago del Estero,11,2928,1
22,Tierra del Fuego,6,1445,0
23,Tucumán,24,5161,2